.error {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  top: 160px;
  left: 230px;
  min-height: 40px;
  background-color: #e30045;
  border-radius: 3px;
  transform: translateX(20%);
  z-index: 20;  
  color: white;
}

.error::before {
  content: ''; 
  position: absolute;
  right: 30px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e30045;
}

@media (max-width: 768px) {
  .error {
    transform: translateX(0);
    left: 86px;
  }
}  

@media (max-width: 768px) {
  .error {
    left: 10px;
  }
}
