// Font
$mainFont                : "Roboto", Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #303030;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// Main color
$default-color           : #ffffff;
$statistic-color         : rgb(144, 118, 192);
$statistic-icon-color    : #ffcb5a;
// #006767;
$button-color            : #ffc80a;
$button-color-train      : #23b65e;
$button-color-play       : #ffde1f;
$background-light        : #e8e9ed;
$background-blue         : #93b6b7;
$color-red               : #f9593a;
$color-red-2             : #d93e00;
$color-blue              : #51b9bc;
$color-grey              : #8c9dac;
$color-green-2           : #b6d158;
$color-dark-blue         : #2a5cb9;
$color-blue-3            : #45c5f0; 
// #43a8ab; color-blue-dark
$color-green             : #90af00;
$color-pink              : #d0305f;
$color-yellow            : #ffde1f;
$color-orange            : #fb8414;
$color                   : #4b99de;
$background-blue-2       : #c7d9d9;
$background-light-2      : #e7e7e7;
$color-white             : #fafafa;
$color-pink-2            : #ce2939;
$color-purple            : rgb(144, 118, 192);
$background-color        : RGB(239, 242, 251);

// Border Color
$border-base            : #f2f2f4;
